<%- include('../partials/header') %>

<h1>Editar Pessoa</h1>
<p><a href="/pessoas">Voltar para lista de pessoas</a>

    <form method="post">
        <div class="form-group">
            <label for="nome">Nome</label>
            <input type="text" class="form-control" id="nome" name="nome" placeholder="Primeiro nome" value="<%= pessoaByPk.nome %>" />
        </div>
        <div class="form-group">
            <label for="nome">Nascimento</label>
            <input type="text" class="form-control" id="nascimento" name="nascimento" placeholder="Informe sua data de nascimento" value="<%= pessoaByPk.nascimento %>"/>
        </div>
        <div class="form-group">
            <label for="nome">Cargo</label>
            <input type="text" class="form-control" id="cargo name=" name="cargo" placeholder="Informe seu cargo" value="<%= pessoaByPk.cargo %>" />
        </div>
        <button type="submi" class="btn btn-default">Salvar</button>
    </form>

<%- include('../partials/footer') %>